<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.smart.board.dao.MemberDao">
    <insert id="insertMember" parameterType="Member">
        INSERT INTO "member"
            (usrid, usrpwd, usrname, email)
        VALUES
            (#{usrid}, #{usrpwd}, #{usrname}, #{email})
    </insert>

    <select id="selectMember" resultType="Member" parameterType="Member">
        SELECT usrid username, usrpwd password, username, enabled, rolename
        FROM "member"
        WHERE
            usrid = #{usrid}

    </select>
</mapper>
