
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>방명록 목록</title>
    <script th:src="@{/script/guestbook.js}">

    </script>
</head>
<body>
<div class="container">
    <h1>방명록</h1>

    <table border="1">
        <tr>
            <th>일련번호</th>
            <th>이름</th>
            <th>내용</th>
            <th>등록일</th>
            <th>비고</th>
        </tr>
        <tr th:each="guestbook, status : ${guestbookList}">
            <td th:text="${status.count}">번호</td>
            <td th:text="${guestbook.usrname}">글쓴사람 이름</td>
            <td th:text="${guestbook.text}">글 내용</td>
            <td th:text="${guestbook.regdate}">등록일</td>
            <td>
                <!-- 클라이언트에서 seq와 비밀번호를 입력받아서 서버로 송신 : JS -->
                <a href="#" th:onclick="|delguestbook(${guestbook.seq})|">삭제</a>
            </td>
        </tr>
    </table>

    <!-- 글 등록 버튼 -->
    <div>
        <a href="#" th:href="@{/guestbook/guestbookWrite}">글등록</a>
    </div>
</div>
</body>
</html>